 
  body {
    margin: 0;
    padding:0;
  }

  * {
    box-sizing: border-box;
  }
  

    
  :root {/*CSS variables for element background, border, default boxShadow colors */
    --Page-backgroundColor: #cddeee;
    --Header-backgroundColor: #38598b;
    --Footer-backgroundColor: rgb(51, 66, 87);
    --ChartContent-linearGradientBackground: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#2ec3eb 51%,#d5ebfb 100%);
    --ChartContent-borderColor: black;
    --ChartContent-barChart-boxShadowColor: grey;
    --ChartContent-barChart--odd-backgroundColor: #9f4b7a;
    --ChartContent-barChart--even-backgroundColor: #aeddcd;
    --ChartContent-barChartContainer--is-baseChartColor: rgba(175,100,55,.4);
    --Configure-linearGradientBackground: linear-gradient(to left, #ebf1f6 0%,#abd3ee 20%,#2ec3eb 71%,#d5ebfb 100%);
    --Configure-selectBoxes-linearGradientBackground: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    --Configure-selectBoxes-backgroundColor: #f1dfd1;
    --Modal-backgroundColor: #28282b;
    --Page-boxShadowColor: black;
    --Header-flashMessageColor: orange;
    /* for text colors */
    --Page-textColor: white;
    --Header-textColor: beige;
    --Header-flashContainer-textColor: black;
    --Modal-textColor: white;
  }
    
  
  
  .Page {
    width: 100vw;
    height: 100vh;
    padding: 0 10vw 0 10vw;
    background: var(--Page-backgroundColor);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 5fr 40fr 1fr;
    background:blue;
  }
  
  .Header {
    background: var(--Header-backgroundColor);
    display:flex;
  }
  .Header > div {
    margin-left: 15em;
  }
  .Header > div > p {
    display: inline;
    margin-left: 1em;
    background:beige;
  }

  

