 
  body {
    margin: 0;
    padding:0;
  }

  * {
    box-sizing: border-box;
  }
  

    
  :root {/*CSS variables for element background, border, default boxShadow colors */
    --Page-backgroundColor: #cddeee;
    --Header-backgroundColor: #38598b;
    --Footer-backgroundColor: rgb(51, 66, 87);
    --ChartContent-linearGradientBackground: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#2ec3eb 51%,#d5ebfb 100%);
    --ChartContent-borderColor: black;
    --ChartContent-barChart-boxShadowColor: grey;
    --ChartContent-barChart--odd-backgroundColor: #9f4b7a;
    --ChartContent-barChart--even-backgroundColor: #aeddcd;
    --ChartContent-barChartContainer--is-baseChartColor: rgba(175,100,55,.4);
    --Configure-linearGradientBackground: linear-gradient(to left, #ebf1f6 0%,#abd3ee 20%,#2ec3eb 71%,#d5ebfb 100%);
    --Configure-selectBoxes-linearGradientBackground: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    --Configure-selectBoxes-backgroundColor: #f1dfd1;
    --Modal-backgroundColor: #28282b;
    --Page-boxShadowColor: black;
    --Header-flashMessageColor: orange;
    /* for text colors */
    --Page-textColor: white;
    --Header-textColor: beige;
    --Header-flashContainer-textColor: black;
    --Modal-textColor: white;
  }
    
  
  
  .Page {
    width: 100vw;
    height: 100vh;
    padding: 0 10vw 0 10vw;
    background: var(--Page-backgroundColor);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 5fr 40fr 1fr;
    background:blue;
  }
  
  .Header {
    background: var(--Header-backgroundColor);
    display:flex;
  }
  .Header > div {
    margin-left: 15em;
  }
  .Header > div > p {
    display: inline;
    margin-left: 1em;
    background:beige;
  }
  .Configure {
    background: var(--Configure-linearGradientBackground);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
  }

  .Configure-baseForm, .COnfigure-comparisonsForm {

  }

  .Configure-baseFilter {
    max-width:4em;
  }

  .selectedComparison {
    background: blue;
  }

  .Configure-baseSelectBox, .Configure-convertSelectBox {
    width:20em;
  
    background:red;
    overflow-y:block;
    /* margin-top: .8em;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 20em;
    width: 90%;
    justify-self: center;
    list-style-type: none;
    background-color: var(--Configure-selectBoxes-backgroundColor);
    background-image: var(--Configure-selectBoxes-linearGradientBackground);
    color: black;
    text-shadow: 1px 1px 1px grey; */
  }
  


  .ChartContent {
    background: #ebf5f9;
    /* intended background for .CharContent */
    background-image: var(--ChartContent-linearGradientBackground);
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: flex-end;
    border: .5em solid var(--ChartContent-borderColor);
    border-radius: .5em;
    height:100%;
  }



  .ChartContent-chartsContainer {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:100%;
    position: absolute;
    width:100%;
  }

  .ChartContent-barChartContainer.is-baseChart {
    background: var(--ChartContent-barChartContainer--is-baseChartColor);
  }
  .ChartContent-barChartContainer.is-baseChart::after {
    content: "BASE CURRENCY";
    text-orientation: vertical;
    position: absolute;
    
    top: 5em;
    left: 60%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    margin: 0 auto;
  }

 
  .ChartContent-barChartContainer {
    position: relative;
    display: flex;
    /* text "selectability on" changes cursor to select cursor in UI on mouseover or drag.  set user-select to none so selectability is off, no cursor change when user drags or mouseover on chart text */
    user-select: none;
  }

  .ChartContent-barChartContainer:nth-of-type(even) .ChartContent-barChart {
    background: var(--ChartContent-barChart--even-backgroundColor);
    color: black;
  }
  
  .ChartContent-barChartContainer:nth-of-type(odd) .ChartContent-barChart {
    background: var(--ChartContent-barChart--odd-backgroundColor);
  }
  .ChartContent-barChartTitle {
    font-weight: bold;
     font-family: Arial;
  }
  
  .ChartContent-barChartTitle.u-offset {
    position: absolute;
    color: black;
    
  }
  

  .ChartContent-barChart {
    font-weight: 800;
    width: 7em;
    align-self: flex-end;
    border-radius: .5em .5em 0 0;
    border-color: var(--ChartContent-borderColor);
    border-style: solid;
    border-width: 9px 2px 0px 2px;
    box-shadow: 5px 1px 5px var(--ChartContent-barChart-boxShadowColor);
    /* barChart also a flex container, for controlling the positioning of its text */
    display: flex;
    padding-top: 5%;
    align-items: flex-start;
    justify-content: center;
  }
  
  
 

  
  .Footer {
    background: var(--Footer-backgroundColor);
    color: white;
  }  
.Modal {
  color: var(--Modal-textColor);
  display: none;
  background-color: var(--Modal-backgroundColor);
  border-radius: .6em;
  position: absolute;
  margin: 0 auto;
  top: 15em;
  top:50%;
  white-space: nowrap;
  padding: 0 1em;
  align-items: center;
  align-self: unsafe center;
  height: 110px;
  box-shadow: 2px 3px 1px var(--Page-boxShadowColor);
  z-index: 30;
}

/* state of modal = display */

/* make modal visible, and use flex to keep text centered consistently across screenwidth changes*/

.Modal.isdisplayed {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}